@using VikrisAutoWebsite.Core.Models
@model AddCarViewModel

@{
    ViewBag.Title = "Add Car";
}


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="scrollable-container">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
               <div class="mb-3">
                <label asp-for="@Model.Make" class="form-label">Make</label>
                <input asp-for="@Model.Make" class="form-control" aria-required="true" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Model" class="form-label">Model</label>
                <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Year" class="form-label">Year</label>
                 <input asp-for="@Model.Year" class="form-control" aria-required="true" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>  
            <div class="mb-3">
                <label asp-for="@Model.ShortInfo" class="form-label">ShortInfo</label>
                 <input asp-for="@Model.ShortInfo" class="form-control" aria-required="true" />
                <span asp-validation-for="ShortInfo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Mileage" class="form-label">Mileage</label>
                 <input asp-for="@Model.Mileage" class="form-control" aria-required="true" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CubicCapacity" class="form-label">CubicCapacity</label>
                 <input asp-for="@Model.CubicCapacity" class="form-control" aria-required="true" />
                <span asp-validation-for="CubicCapacity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Features" class="form-label">Features</label>
                 <input asp-for="@Model.Features" class="form-control" aria-required="true" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
             
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" value="" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HorsePower" class="form-label">HorsePower</label>
                <input asp-for="@Model.HorsePower" class="form-control" aria-required="true" />
                <span asp-validation-for="HorsePower" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFiles" class="form-label">Images</label>
                <input asp-for="ImageFiles" type="file" class="form-control" multiple accept="image/*" />
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Color" class="form-label">Color</label>
                <input asp-for="@Model.Color" class="form-control" aria-required="true" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EngineId" class="form-label">Engine</label>
                <select asp-for="@Model.EngineId" class="form-control">
                    @foreach (var engine in Model.Engines)
                    {
                        <option value="@engine.Id">@engine.Name</option>
                    }
                </select>
                <span asp-validation-for="EngineId" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Categories" class="form-label">Type</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var typeCar in Model.Categories)
                    {
                        <option value="@typeCar.Id">@typeCar.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Gearboxes" class="form-label">Engine</label>
                <select asp-for="@Model.GearboxId" class="form-control">
                    @foreach (var engine in Model.Gearboxes)
                    {
                        <option value="@engine.Id">@engine.Name</option>
                    }
                </select>
            </div>

                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>



@*<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Make" class="form-label">Make</label>
                <input asp-for="@Model.Make" class="form-control" aria-required="true" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Model" class="form-label">Model</label>
                <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Year" class="form-label">Year</label>
                 <input asp-for="@Model.Year" class="form-control" aria-required="true" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>  
            <div class="mb-3">
                <label asp-for="@Model.ShortInfo" class="form-label">ShortInfo</label>
                 <input asp-for="@Model.ShortInfo" class="form-control" aria-required="true" />
                <span asp-validation-for="ShortInfo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Mileage" class="form-label">Mileage</label>
                 <input asp-for="@Model.Mileage" class="form-control" aria-required="true" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CubicCapacity" class="form-label">CubicCapacity</label>
                 <input asp-for="@Model.CubicCapacity" class="form-control" aria-required="true" />
                <span asp-validation-for="CubicCapacity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Features" class="form-label">Features</label>
                 <input asp-for="@Model.Features" class="form-control" aria-required="true" />
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
             
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" value="" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HorsePower" class="form-label">HorsePower</label>
                <input asp-for="@Model.HorsePower" class="form-control" aria-required="true" />
                <span asp-validation-for="HorsePower" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageFiles" class="form-label">Images</label>
                <input asp-for="ImageFiles" type="file" class="form-control" multiple accept="image/*" />
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Color" class="form-label">Color</label>
                <input asp-for="@Model.Color" class="form-control" aria-required="true" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EngineId" class="form-label">Engine</label>
                <select asp-for="@Model.EngineId" class="form-control">
                    @foreach (var engine in Model.Engines)
                    {
                        <option value="@engine.Id">@engine.Name</option>
                    }
                </select>
                <span asp-validation-for="EngineId" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Categories" class="form-label">Type</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var typeCar in Model.Categories)
                    {
                        <option value="@typeCar.Id">@typeCar.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Gearboxes" class="form-label">Engine</label>
                <select asp-for="@Model.GearboxId" class="form-control">
                    @foreach (var engine in Model.Gearboxes)
                    {
                        <option value="@engine.Id">@engine.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>
*@
@*<form asp-action="Add" method="post" enctype="multipart/form-data">
    <label asp-for="Make"></label>
    <input asp-for="Make" />
    <label asp-for="Model"></label>
    <input asp-for="Mdsaake" />

    

    <input type="file" name="ImageFiles" multiple accept="image/*" />

    <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
</form>*@