@using VikrisAutoWebsite.Core.Models
@model CarViewModel

<div class="cardId col-md-7">
                <div class="image-gallery">
                    <div class="large-image">
                        <img src="@Url.Content(Model.Images.Last().FilePath)" alt="Large Image" class="enlarged-image" />
                    </div>
                    <div class="thumbnail-container">
                        @if (Model.Images.Any())
                        {
                             @foreach (var image in @Model.Images)
                             {
                                 <div class="thumbnail-wrapper">
                                 <img src="@Url.Content(image.FilePath)" alt="Car Image" class="thumbnail" />
                                 </div>
                             }
                         }                      
                    </div>

                    <div class="col-md-12">
                        <div class="card-body-id">
                            <h5 class="card-title mt-1">@Model.Make @Model.Model @Model.ShortInfo</h5>
                            <p class="card-text">@Model.Price лева</p>
                            <p class="card-text">Година: @Model.Year</p>                       
                            <p class="card-text">Двигател: @Model.Engine</p>
                            <p class="card-text">Кутия: @Model.HorsePower</p>
                            <p class="card-text">Кутия: @Model.CubicCapacity</p>
                            <p class="card-text">Кутия: @Model.Gearbox</p>
                            <p class="card-text">Кутия: @Model.Category</p>
                            <p class="card-text">Кутия: @Model.Color</p>
                            <p class="card-text">Кутия: @Model.Mileage</p>
                            <p class="card-text">Кутия: @Model.Features </p>
                        </div>
                    </div>
                </div>
            </div>



            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.thumbnail').click(function () {
            // Get the source of the clicked thumbnail
            var imageSrc = $(this).attr('src');
            
            // Set the source of the enlarged image
            $('.enlarged-image').attr('src', imageSrc);
        });
    });
</script>