@using VikrisAutoWebsite.Core.Models
@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<body>
    
    <img src="~/css/VikrisAuto.png" class="background-img" alt="Background Image" />
    

    <div class="content">
    <div class="text-center row">
        @foreach (var car in Model)
        {
            
            <div class="card col-md-3" onclick="location.href='@Url.Action("CarById", "Car", new {carId = car.Id})';" style="cursor: pointer;">
                <div class="row">
                    <div class="col-md-12">
                        @if (car.Images.Any())
                        {
                            <img src="@Url.Content(car.Images.First().FilePath)" alt="Car Image" class="card-img-top" />
                        }
                    </div>

                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title mt-1">@car.Make @car.Model @car.ShortInfo</h5>
                            <p class="card-text">@car.Price лева</p>
                            <p class="card-text">Година: @car.Year</p>                       
                            <p class="card-text">Двигател: @car.Engine</p>
                            <p class="card-text">Кутия: @car.Gearbox</p>
                        </div>
                    </div>
                </div>
            </div>
        } 
    </div>   
    </div>
</body>






