@using VikrisAutoWebsite.Core.Models
@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Home Page";
}

   <div class="text-center row">
    @foreach (var car in Model)
    {
        @*<div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Car Image">
            <div class="card-body"*@

                <h5 class="card-title mt-1">@car.Make @car.Model</h5>
                <p class="mb-0">Year: @car.Year</p>
                <p class="mb-0">Price: @car.Price$ Per Month</p>
                
                <p class="mb-0">Engine: @car.Engine</p>                          
        
    } 
</div>

<!DOCTYPE html>
<html>
<body>
    <img src="~/css/VikrisAuto.png" class="background-img" alt="Background Image" />
    <div class="content">
        dsadasdsadsa
    </div>
</body>
</html>